name: cd

on:
  push:
    branches: [main]

  workflow_dispatch:

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
      TURSO_AUTH_TOKEN: ${{ secrets.TURSO_AUTH_TOKEN }}

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22.18.0

      - name: Install dependencies
        run: npm ci

      - name: Build the app
        run: npm run build

      - name: Run DB Migrations
        run: npm run db:migrate

      - id: "auth"
        uses: "google-github-actions/auth@v2"
        with:
          credentials_json: "${{ secrets.GCP_CREDENTIALS }}"

      - name: "Use gcloud CLI"
        run: "gcloud info"

      - name: Build docker image
        run: gcloud builds submit --tag asia-northeast1-docker.pkg.dev/swift-icon-479904-e3/notely-ar-repo/notely-api:latest

      - name: Deploy to Cloud run
        run: gcloud run deploy notely --image asia-northeast1-docker.pkg.dev/swift-icon-479904-e3/notely-ar-repo/notely-api --region asia-northeast1 --allow-unauthenticated --project swift-icon-479904-e3 --max-instances=4
